<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 
 
 <servlet>
 <servlet-name>exonservletconfig</servlet-name>
 <servlet-class>com.training.ExampleOnServletConfig</servlet-class>
 <!-- addition information -->
 <init-param>
 <param-name>drv</param-name>
 <param-value>com.mysql.cj.jdbc.Driver</param-value>
 </init-param>
 
 <init-param>
 <param-name>url</param-name>
 <param-value>jdbc:mysql://localhost:3306/ust</param-value>
 </init-param>
 
  <init-param>
 <param-name>userName</param-name>
 <param-value>root</param-value>
 </init-param>
 
 </servlet>
 
 <servlet-mapping>
 <servlet-name>exonservletconfig</servlet-name>
 <url-pattern>/sconfg</url-pattern>
 </servlet-mapping>
 
 
 
</web-app>